html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: 'RobotoLight';
  src: url('assets/robotoslab-light.ttf');
}

span {
	font-family: 'RobotoLight';
}

.logo-container {
	padding-top: 100px;
	padding-bottom: 60px;
}

.text-center {
	text-align: center;
}

.logo {
	width: 168px;
	height: 168px;
}

.product-name {
	margin-top: 10px;
}

.product-name span {
	font-size: 20pt;
}

.tagline {
	margin-top: 60px;
}

.tagline span {
	font-size: 30pt;
	font-weight: bold;
}

.page2 {
	margin: 0;
	padding: 0;
}

.header {
	background-color: rgb(180,180,180);
	color: rgb(255,255,255);
	padding: 30px;
}

.header span {
	font-size: 30pt;
}

.h-text-container {
	max-width: 960px;
}

.bubbles-container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.bubbles-container .centering {
	/* Center without using text-align: center; */
	position: relative;
	left: 50%;
	margin-left: -460px;
}

.bubble-container {
	margin-left: 40px;
	display: inline-block;
}

.bubble-container.first {
	margin-left: 0;
}

.bubble-container.first .bubble {
	background-image: url('assets/bubble1.png');
}

.bubble-container.second .bubble {
	background-image: url('assets/bubble2.png');
}

.bubble-container.third .bubble {
	background-image: url('assets/bubble3.png');
}

.bubble-container.fourth .bubble {
	background-image: url('assets/bubble4.png');
}

.bubble {
	width: 200px;
	height: 233px;
	background-repeat: no-repeat;
	color: white;
}

.bubble .text-container {
	padding-top: 40px;
	padding-right: 20px;
	padding-left: 20px;
}

.bubble span {
	font-size: 8pt;
}

.page3 {
	height: 500px;
	width: 100%;
	background-image: url('assets/oldpeople.png');
	background-size: cover;
}

.old-people-text {
	padding-top: 100px;
	padding-left: 40px;
}

.old-people-text span {
	font-size: 32pt;
}

.about {
	padding-top: 30px;
	width: 100%;
}

.whatis {
	margin-top: 30px;
}

.whatis span {
	font-size: 20pt;
	font-weight: bold;
}

.description {
	margin-top: 20px;
}

.description span {
	font-size: 18pt;
}

.contact-us {
	margin-top: 30px;
}

.earring-aid-img {
	margin-top: 20px;
	width: 100%;
	height: 300px;
	background-image: url('assets/earings-forweb-bw.png');
}